@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #cc2b5e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #753a88, #cc2b5e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #753a88, #cc2b5e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    background-color: #fff;
    border-radius: 25px;
    padding: 20px;
    border: 1px solid #ccc;
    width: 300px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.color-box {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    transition: .3s;
    background: #442A71;
}

.color-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.color-code {
    margin-right: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

#copy-btn {
    padding: 10px;
    font-size: 1.3em;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

#copy-btn:hover {
    background-color: #0056b3;
}

#generate-btn {
    padding: 10px;
    font-size: 1.3em;
    cursor: pointer;
    background-color: #be00e9;
    color: #fff;
    border: none;
    border-radius: 12px;
    transition: background-color 0.3s;
    width: 100%;
}

#generate-btn:hover {
    background-color: #d240f2;
}